@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.wrap {
	margin: 76px 210px;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

button {
	background-color: transparent;
}

svg {
	width: auto;
}
