$family--default: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji";

// c - color
// cd - color dark mode

$c-border:                  #CECCCE;
$cd-border:                 #646464;

$c-special:                 #119DA4;
$cd-special:                #F17105;

$c-special__light:          rgba(17, 157, 164, 0.65);

$cd-special__light:         #F17105;

$c-bg:                      #FFF;
$c-input-bg:                #FFF;

$c-hover:                   #F4F5F7;
$cd-hover:                  #363636;

$c-text:                    #282828;
$cd-text:                   rgba(255, 255, 255, 0.87);


$transition:                all .3s ease-in-out;


$desktop:   'only screen and (max-width: 1279px)';
$tablet:    'only screen and (max-width: 1023px)';
$mobile:    'only screen and (max-width: 767px)';


:export {
    cHover: $c-hover;
}


//$c_input__default:          #F7F2EE;
//$c_input__disabled:         #F0F0F0;
//$c_input__placeholder:      #B3A499;

//$c_text_main:               #282828;
//$c_text_main__dark:         #8C8C8C;
//$c_text__label:             #888888;
//
//$c_special__main:           #A67F63;
//$c_special__secondary:      #B3A499;
//$c_special__intence:        #8C6B53;
//$c_special__bg:             #E5D4C6;
